
/* Business */

.mainBusiness {
    background: rgba(213,215,251,1);
    background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
    background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    padding: 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBusiness p:nth-child(2) {
    width: 400px;
    margin: 50px 0;
}

/* businessCommerce */

.businessCommerce {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.businessCommerce p:nth-child(1) {
    position: absolute;
    left: 0;
}

.businessCommercePic {
    width: 252px;
    height: 238px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.businessCommercePicbutton {
    width: 168px;
    height: 168px;
    background: transparent;
    cursor: pointer;
    border: none;
}

.commercePicBorderRed {
    width: 168px;
    height: 168px;
    background: transparent;
    cursor: pointer;
    border: 1px solid red;
}

.businessCommercePic img {
    width: 21%;
    height: 25%;
    position: absolute;
}

.businessCommercePic input[type="file"] {
    width: 100%;
    height: 92%;
    opacity: 0;
    cursor: pointer;
}

.businessCommercePic input[type="text"] {
    font-size: 16px;
    text-align: center;
    padding-bottom: 8px;
}

.nameCommerce {
    width: 100%;
    margin-top: 18px;
}

.rifCommerce {
    width: 72%;
    margin-top: 10px;
}

.businessCommerceCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.businessCommerceContData {
    width: 378px;
    height: 310px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="text"],
input[type="password"] {
    background: transparent;
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #7F78FF;
    outline: none;
    padding: 0 8px 8px 8px;
}

select {
    background: transparent;
    background-image: url("../img/dropDownArrow.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border: none;
    border-bottom: 1px solid #7F78FF;
    outline: none;
    padding: 0 0 8px 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.businessCommerceContData select {
    margin: 12px 0;
}

.commerceAddres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerceAddresCheck {
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerceAddres label {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.commerceAddres input[type="radio"] {
	display: none;
}
.commerceAddres input[type="radio"] + label {
    width: 15px;
    height: 15px;
    background: url("../img/Shape.svg");
    background-size: cover;
    cursor: pointer;
    transition: ease-out .1s;
    -webkit-transition: ease-out .1s;
    -moz-transition: ease-out .1s;
    -ms-transition: ease-out .1s;
    -o-transition: ease-out .1s;
}
.commerceAddres input[type="radio"]:checked + label {
    background: url("../img/Combined\ Shape.svg");
    background-size: cover;
    transition: ease-out .1s;
    -webkit-transition: ease-out .1s;
    -moz-transition: ease-out .1s;
    -ms-transition: ease-out .1s;
    -o-transition: ease-out .1s;
}

.commerceInputSize {
    width: 64%;
}

.iframe {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

iframe {
    width: 394px;
    height: 298px;
}

::-webkit-input-placeholder {
    color: #242657;
    opacity: .50;
}
::-moz-placeholder {
    color: #242657;
    opacity: .50;
}
::placeholder {
    color: #242657;
    opacity: .50;
}

@media (max-width: 880px) {
    .businessCommerce {
        width: 450px;
    }

    .businessCommercePic {
        margin-top: 50px;
    }
    .businessCommercePic img {
        width: 38%;
        height: 16%;
    }

    .businessCommerceContData {
        margin: 0 0 50px 0;
    }
}

@media (max-width: 540px) {
    .businessCommercePic {
        margin-bottom: 25px;
    }
    .businessCommercePic img {
        width: 64%;
        height: 22%;
    }

    .businessCommerce {
        width: 270px;
    }

    .businessCommerceContData {
        width: 270px;
        height: 195px;
        margin-bottom: 15px;
    }

    .commerceAddres {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .commerceAddresCheck {
        margin-bottom: 14px;
    }

    .commerceInputSize {
        width: 100%;
    }

    iframe {
        width: 265px;
        height: 210px;
    }
}

@media (max-width: 460px) {
    .mainBusiness p:nth-child(2) {
        width: 215px;
    }
}

/* businessContact */

.businessContact {
    position: relative;
    width: 825px;
    margin: 50px 0 60px 0;
    padding-top: 50px;
}

.businessContact p:nth-child(1) {
    position: absolute;
    top: 0;
}

.contactInputName {
    display: flex;
    justify-content: space-between;
}

.contactInputName input {
    width: 46%;
}

.contactInputCiEmail {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.contactInputCi {
    display: flex;
    justify-content: space-between;
}

.contactInputCiEmail div {
    width: 46%;
}

.contactInputCi select {
    width: 23%;
}

.contactInputCi input {
    width: 70%;
}

.contactInputEmail {
    width: 46%;
}

.contactInputPhone input {
    width: 46%
}

@media (max-width: 880px) {
    .businessContact {
        width: 450px;
    }

    .contactInputCi select {
        width: 32%;
    }

    .contactInputCi input {
        width: 60%;
    }
}

@media (max-width: 540px) {
    .businessContact {
        width: 270px;
        margin: 30px 0;
    }

    .contactInputName {
        flex-direction: column;
    }

    .contactInputName input {
        width: 100%;
    }
    .contactInputName input:nth-child(2) {
        margin: 15px 0;
    }

    .contactInputCiEmail {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .contactInputCiEmail div {
        width: 100%;
        margin-bottom: 15px;
    }

    .contactInputEmail {
        width: 100%;
    }

    .contactInputPhone input {
        width: 100%;
    }
}

/* businessSecurity */

.businessSecurity {
    position: relative;
    width: 825px;
    margin-bottom: 28px;
    padding-top: 50px;
}

.businessSecurity p:nth-child(1) {
    position: absolute;
    top: 0;
}

.securityPassCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.securityPassCont input,
.showPassword {
    width: 46%;
}

.showPassword {
    position: relative;
}

.showPassword input {
    width: 100%;
}

.showPassword button {
    position: absolute;
    right: 2px;
    top: 2px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.securityAnswer {
    display: flex;
    justify-content: flex-end;
}

.securityAnswer input {
    width: 46%;
}

@media (max-width: 880px) {
    .businessSecurity {
        width: 450px;
    }
}

@media (max-width: 540px) {
    .businessSecurity {
        width: 270px;
        padding-top: 35px;
        margin: 0 0 30px 0;
    }

    .securityPassCont {
        flex-direction: column;
    }

    .securityPassCont input,
    .showPassword {
        width: 100%;
    }

    .securityPassCont input:nth-child(2) {
        margin: 15px 0;
    }

    .securityPassCont {
        margin-bottom: 0px;
    }

    .securityAnswer input {
        width: 100%;
    }
}

/* businessSubmit */

.businessSubmit {
    display: flex;
    justify-content: center;
}

.businessSubmit button {
    width: 122px;
    height: 35px;
    background: #95FAD8;
    border-radius: 100px;
    border: none;
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* gualyPay */

.gualyPay {
    background-color: #F2F2F2;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gualyPay p:nth-child(1) {
    width: 580px;
}

.gualyPayCont {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gualyPayCont div {
    width: 292px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gualyPayCont div:nth-child(1) p {
    margin-bottom: 12px;
}

.gualyPayCont div:nth-child(2) {
    border-left: 1px solid #7F78FF;
    border-right: 1px solid #7F78FF;
}

.gualyPayCont div p {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 913px) {
    .gualyPayCont {
        width: 290px;
    }

    .gualyPayCont div {
        width: 210px;
    }

    .gualyPayCont div:nth-child(1) {
        margin-bottom: 30px;
    }
    .gualyPayCont div:nth-child(2) {
        height: 250px;
        border: none;
        border-top: 1px solid #7F78FF;
        border-bottom: 1px solid #7F78FF;
        justify-content: center;
    }
    .gualyPayCont div:nth-child(2) p {
        margin-top: 25px;
    }
    .gualyPayCont div:nth-child(3) {
        margin-top: 30px;
    }
}

@media (max-width: 615px) {
    .gualyPay p:nth-child(1) {
        width: 430px;
    }
}

@media (max-width: 460px) {
    .gualyPay p:nth-child(1) {
        width: 270px;
    }
}

/* commerceMain */

.commerceMain {
    background: rgba(242,242,242,0.8);
    background: -moz-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, rgba(255,255,255,0.8) 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,0.8)), color-stop(0%, #F2F2F2), color-stop(0%, #F2F2F2), color-stop(25%, rgba(242,242,242,0.85)), color-stop(60%, rgba(229,255,247,1)), color-stop(88%, rgba(213,215,251,1)), color-stop(100%, rgba(213,215,251,1)));
    background: -webkit-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -o-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -ms-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    padding: 80px 10px;
}