
/* contact */

.contact {
    background: rgba(201,199,255,1);
    background: -moz-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 39%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(201,199,255,1)), color-stop(39%, rgba(231,254,246,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 39%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 39%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 39%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 39%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c7ff', endColorstr='#ffffff', GradientType=1 );
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);  
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    max-width: 540px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dateInput {
    width: 48%;
}

.subject {
    width: 100%;
    margin: 19px 0;
}

input {
    height: 40px;
    background: transparent;
    border: 1px solid #7F78FF;
    border-radius: 28px;
    outline: none;
    color: #7F78FF;
}

input[type=text] {
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
}

textarea {
    width: 100%;
    max-width: 540px;
    min-width: 230px;
    max-height: 150px;
    min-height: 100px;
    background: transparent;
    border: 1px solid #7F78FF;
    border-radius: 21px;
    outline: none;
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px 0 20px;
}

.redBorder {
    border: 1px solid red;
}

.submit {
    width: 122px;
    height: 35px;
    background: #95FAD8;
    border-radius: 100px;
    border: none;
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 40px;
}

::-webkit-input-placeholder { 
    color: #1D1F4A;
    opacity: .50;
}
::-moz-placeholder { 
    color: #1D1F4A;
    opacity: .50;
}
::placeholder { 
    color: #1D1F4A;
    opacity: .50;
}

@media (max-width: 600px) {
    .inputCont {
        flex-direction: column;
    }

    .inputCont input:nth-child(1) {
        margin-bottom: 19px;
    }

    .dateInput {
        width: 100%;
    }
}

/* supp */

.supp {
    background-color: #F2F2F2;
    padding: 90px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suppWrapper {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.suppWrappMedia {
    width: 160px;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.suppMediaPhone {
    margin-top: 16px;
}

.suppMediaMail {
    margin-top: 21px;
}

.suppWrappMedia p {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

@media (max-width: 840px) {
    .supp {
        padding: 40px 10px;
    }

    .suppWrapper {
        margin-top: 20px;
        width: 350px;
        height: 410px;
    }
}

@media (max-width: 360px) {
    .suppWrapper {
        width: 260px;
    }

    .suppWrappMedia {
        width: 130px;
    }

    .suppWrappMedia p {
        font-size: 12px;
    }
}

/* contactQuestions */

.contactQuestions {
    background: rgba(213,215,251,1);
    background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
    background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}

.contactQuestionsCont {
    max-width: 530px;
}

.questionSpanAns {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.5;
}

/* prensa */

.prensa {
    background-color: #F2F2F2;
    padding: 70px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prensa p:nth-child(2) {
    width: 320px;
    margin: 44px 0 36px 0;
}

.prensaContImg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prensaContImg a:nth-child(2) {
    margin: 0 100px;
}

@media (max-width: 602px) {
    .prensa p:nth-child(2) {
        width: 240px;
    }

    .prensaContImg {
        width: 275px;
    }

    .prensaContImg a:nth-child(1) {
        margin-right: 20px;
    }
    .prensaContImg a:nth-child(2) {
        margin: 0;
    }
    .prensaContImg a:nth-child(3) {
        margin-top: 20px;
    }
}

/* rate */

.rate {
    background: rgba(201,199,255,1);
    background: -moz-linear-gradient(330deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, #F2F2F2 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(201,199,255,1)), color-stop(55%, rgba(231,254,246,1)), color-stop(100%, #F2F2F2));
    background: -webkit-linear-gradient(330deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, #F2F2F2 100%);
    background: -o-linear-gradient(330deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, #F2F2F2 100%);
    background: -ms-linear-gradient(330deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, #F2F2F2 100%);
    background: linear-gradient(330deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, #F2F2F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c7ff', endColorstr='#ffffff', GradientType=1 );
    height: 350px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rate p:nth-child(2) {
    width: 330px;
    margin-top: 44px;
}

@media (max-width: 380px) {
    .rate p:nth-child(2) {
        width: 190px;
    }
}

/* investment */

.investment {
    background-color: #F2F2F2;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.investment p:nth-child(2) {
    width: 340px;
    margin: 31px 0 24px 0;
}

@media (max-width: 380px) {
    .investment p:nth-child(2) {
        width: 235px;
    }
}