
.gualyPayment {
    background: rgba(213,215,251,1);
    background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
    background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.gualyPaymentCont {
    width: 50%;
}

.gualyPaymentCont h2 {
    margin-bottom: 40px;
}

.gualyPaymentCont p {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
}

@media (max-width: 1500px) {
    .gualyPaymentCont {
        width: 60%;
    }
}

@media (max-width: 1150px) {
    .gualyPaymentCont {
        width: 70%;
    }
}

@media (max-width: 760px) {
    .gualyPaymentCont {
        width: 80%;
    }
}

.blog {
    background: rgba(213,215,251,1);
    background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
    background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.blogCont {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogCont h2 {
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.emoji {
    width: 30px;
    height: 30px;
}

.cita {
    opacity: 0.5;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
}

.blogCont blockquote {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blogContText {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

.blogContImg {
    margin: 30px 0;
}

.blogCont h3 {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.blogContTextEnd {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

@media (max-width: 1500px) {
    .blogCont {
        width: 60%;
    }
}

@media (max-width: 1150px) {
    .blogCont {
        width: 70%;
    }
}

@media (max-width: 950px) {
    .blogContImg {
        height: 420px;
    }
}

@media (max-width: 870px) {
    .blogContImg {
        height: 350px;
    }
}

@media (max-width: 760px) {
    .blogCont {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .blogContImg {
        height: 300px;
    }

    .blogCont h2 {
        font-size: 25px;
    }
}

@media (max-width: 560px) {
    .blogContImg {
        height: 230px;
    }
}

@media (max-width: 430px) {
    .blogContImg {
        height: 170px;
    }

    .blogCont h2 {
        font-size: 20px;
    }
}

/* securityFooter */

.securityFooter {
    background: rgba(201,199,255,1);
    background: -moz-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(201,199,255,1)), color-stop(55%, rgba(231,254,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
}

.securityQuestionsCont {
    max-width: 680px;
}

.securityTextSpc {
    margin-top: 30px;
    margin-bottom: 50px;
}

.securityQuestionLastCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #7F78FF;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.securityQuestionLastCont2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.securityTitle {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.securityWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.suppWrappMediaContent {
    width: 140px;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.suppWrappMediaContent2 {
    width: 120px;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.suppWrappMediaSaldo {
    width: 218px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.suppWrappMediaSaldo span {
    text-align: center;
}

.securityWrapper span {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

/* Terminos y Condiciones */

.listNoOrder {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-left: 25px;
}

@media (max-width: 490px) {
    .titleSectionTerms {
        font-size: 28px;
    }
}