/* DownloadSignIn */

.DownloadSignIn {
    background: rgba(213,215,251,1);
    background: -moz-linear-gradient(45deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
    background: -webkit-linear-gradient(45deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -o-linear-gradient(45deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    background: linear-gradient(45deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DownloadSignInCont {
    width: 844px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.DownloadSignInMedia {
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.DownloadSignInMediaImg {
    display: flex;
    justify-content: space-around;
}

.DownloadSignInMediaImg a {
    text-decoration: none;
}

@media (max-width: 710px) {
    .DownloadSignInCont {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 510px) {
    .DownloadSignInMedia {
        width: 300px;
        height: 230px;
        margin-top: 20px;
    }

    .DownloadSignInMedia h2 {
        font-size: 35px;
    }

    .DownloadSignInMediaImg img {
        width: 84px;
        height: 25px;
    }
}

/* sendPay */

.sendPay {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 720px;
    padding: 0 20px;
}

.sendPayCont {
    width: 715px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.sendPayText {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sendPayContGradient {
    background: rgba(242,242,242,0.8);
    background: -moz-linear-gradient(172deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, rgba(255,255,255,0.8) 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,0.8)), color-stop(0%, #F2F2F2), color-stop(0%, #F2F2F2), color-stop(25%, rgba(242,242,242,0.85)), color-stop(60%, rgba(229,255,247,1)), color-stop(88%, rgba(213,215,251,1)), color-stop(100%, rgba(213,215,251,1)));
    background: -webkit-linear-gradient(172deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -o-linear-gradient(172deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -ms-linear-gradient(172deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: linear-gradient(172deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 645px) {
    .sendPayCont {
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 510px) {
    .sendPay {
        height: 660px;
        padding-bottom: 40px;
    }

    .sendPayText {
        height: 100px;
        margin-top: 20px;
    }

    .sendPayText h2 {
        font-size: 35px;
    }

    .sendPayContGradient {
        background: rgba(213,215,251,1);
        background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
        background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);    
    }
}

/* receivePayCommerce */

.receivePayCommerce {
    background: #F2F2F2;
    height: 1200px;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.receivePay {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.receivePayText {
    height: 120px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 722px) {
    .receivePay {
        flex-direction: column;
    }

    .receivePayText {
        margin: 0;
    }
}

@media (max-width: 510px) {
    .receivePayText {
        margin-top: 20px;
        height: 100px;
    }

    .receivePayText h2 {
        font-size: 35px;
    }
}

/* news */

.news {
    background: #F2F2F2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 10px;
}

.newsCont {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

iframe {
    width: 658px;
    height: 372px;
}

.newsYtbLink {
    width: 331px;
    height: 360px;
    margin: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsYtbMedia {
    width: 100%;
    height: 73px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.newsYtbMediaText {
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsYtbMediaText p {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}

.newsYtbMediaText p:nth-child(1) {
    color: #7F78FF;
    font-weight: bold;
}

.newsGradient {
    background: rgba(242,242,242,0.8);
    background: -moz-linear-gradient(198deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, rgba(255,255,255,0.8) 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,0.8)), color-stop(0%, #F2F2F2), color-stop(0%, #F2F2F2), color-stop(25%, rgba(242,242,242,0.85)), color-stop(60%, rgba(229,255,247,1)), color-stop(88%, rgba(213,215,251,1)), color-stop(100%, rgba(213,215,251,1)));
    background: -webkit-linear-gradient(198deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -o-linear-gradient(198deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -ms-linear-gradient(198deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: linear-gradient(198deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1085px) {
    .newsCont {
        flex-direction: column;
    }

    .newsYtbLink {
        margin: 50px 0 0 0;
    }

    .newsGradient {
        background: rgba(213,215,251,1);
        background: -moz-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(213,215,251,1)), color-stop(100%, rgba(229,255,247,1)));
        background: -webkit-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -o-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: -ms-linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%);
        background: linear-gradient(0deg, rgba(213,215,251,1) 0%, rgba(229,255,247,1) 100%); 
        height: 700px;
    } 
}

@media (max-width: 770px) {
    iframe {
        width: 477px;
        height: 267px;
    }

    .newsGradient {
        height: 600px;
    } 
}

@media (max-width: 550px) {
    iframe {
        width: 299px;
        height: 168px;
    }

    .newsYtbLink {
        width: 289px;
        margin-top: 20px;
    }

    .newsYtbMediaText p {
        font-size: 10px;
    }

    .newsGradient {
        height: 490px;
    } 
}

@media (max-width: 345px){
    iframe {
        width: 279px;
        height: 158px;
    }
}