/*  General Styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainTitle {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
}

.subjectText {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: center;
}

.titleSection {
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 43px;
    font-weight: bold;
    text-align: center;
}

/* commerce */

.commerce {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.commerceCont {
    width: 1060px;
    height: 220px;
    padding-bottom: 14px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.commerceCont img {
    margin-right: 15px;
}

.receivePayCommerceGradient {
    background: rgba(242,242,242,0.8);
    background: -moz-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, rgba(255,255,255,0.8) 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,242,242,0.8)), color-stop(0%, #F2F2F2), color-stop(0%, #F2F2F2), color-stop(25%, rgba(242,242,242,0.85)), color-stop(60%, rgba(229,255,247,1)), color-stop(88%, rgba(213,215,251,1)), color-stop(100%, rgba(213,215,251,1)));
    background: -webkit-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -o-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: -ms-linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    background: linear-gradient(206deg, rgba(242,242,242,0.8) 0%, #F2F2F2 0%, #F2F2F2 0%, rgba(242,242,242,0.85) 25%, rgba(229,255,247,1) 60%, rgba(213,215,251,1) 88%, rgba(213,215,251,1) 100%);
    width: 100%;
    height: 920px;
    position: absolute;
    bottom: 0;
}

.commerceCont::-webkit-scrollbar {
    height: 6px;
}
.commerceCont::-webkit-scrollbar-thumb {
    background: #7F78FF;
    border-radius: 4px;
}

@media (max-width: 1120px) {
    .commerce {
        height: 270px;
    }

    .commerceCont {
        width: 810px;
        height: 170px;
    }

    .commerceCont img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 880px) {
    .commerceCont {
        width: 550px;
        height: 170px;
    }

    .commerceCont img {
        margin-right: 15px;
    }
}

@media (max-width: 630px) {
    .commerceCont {
        width: 400px;
    }
}

@media (max-width: 477px) {
    .commerceCont {
        width: 290px;
        height: 140px;
    }

    .commerceCont img {
        width: 120px;
        height: 120px;
    }
}

/* Header */

header {
    background: #FAFAFA;
    height: 70px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
}

.contHeader {
    background: #FAFAFA;
    width: 1366px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contHeader a {
    text-decoration: none;
}

.contHeader a img:nth-child(2) {
    width: 85px;
    height: 27px;
    margin-bottom: 6px;
}

.mainNav {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navAppCont {
    width: 56px;
    display: flex;
    justify-content: space-between;
}

.NavSpaceImg {
    margin-top: 4px;
}

.navLink {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.signIn {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #1D1F4A;
    padding: 10px 15px;
    border-radius: 100px;
}

.login {
    background: #95FAD8;
    font-size: 10px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 100px;
}

.spanNav {
    display: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navBar {
    display: none;
}

@media (max-width: 850px) {
    .mainNav {
        width: 570px;
    }
    .navLink {
        font-size: 12px;
    }
    .signIn,
    .login {
        font-size: 9px;
    }

    .navAppCont {
        width: 47px;
    }

    .pwaButton {
        height: 33px;
    }
}

@media (max-width: 750px) {
    .contHeader {
        width: 90%;
        justify-content: space-between;
    }

    .mainNav {
        display: none;
    }

    .spanNav {
        display: inline;
    }

    .navBar {
        background-color: #F8F8F9;
        width: 175px;
        height: 306px;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid #7F78FF;
        position: absolute;
        top: 72px;
        right: 0;
    }

    .navBarCont {
        width: 122px;
        height: 254px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* Questions */

.howItWork {
    background: rgba(201,199,255,1);
    background: -moz-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(201,199,255,1)), color-stop(55%, rgba(231,254,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(201,199,255,1) 0%, rgba(231,254,246,1) 55%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}

.howContactMain {
    max-width: 1100px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.howContactMain p:nth-child(1) {
    text-align: left;
}

.howContactCont {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.howContactQuest {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.howContactQuest button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
}

.howContactQuest p {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
}

/* howItWork Questions */

.howQuestCont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
}

.howQuestCont2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
}

.howQuestContAns {
    max-width: 500px;
    margin-right: 100px;
}

.howQuestCont h3 {
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
}

.howQuestCont ol {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 2;
    margin-left: 25px;
    margin-bottom: 15px;
}

.questListNoOrder {
    list-style: none;
    margin-top: 20px;
}

.questListNoOrderSpace {
    margin-top: 20px;
}

.questListNoOrderImg {
    margin-right: 15px;
}

.questTextSpace {
    margin-bottom: 15px;
}

.questTextSpace2 {
    margin-bottom: 40px;
}

.questSubtitle {
    color: #1D1F4A;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
}

@media (max-width: 1036px) {
    .howQuestCont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .howQuestContAns {
        margin-bottom: 40px;
        margin-right: 0;
    }
}

@media (max-width: 490px) {
    .howQuestCont {
        margin-left: 0px;
    }
}

/* footer */

.mainFooter {
    background-image: url("../img/Enmascarar\ grupo\ 4.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px 8px 20px;
}

.footerMobile {
    width: 54px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.footerLinkCont {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.footerLinkContList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLinkCont div:nth-child(1) {
    height: 145px;
}

.footerLinkCont div:nth-child(2) {
    height: 81px;
    margin: 0 70px;
}

.footerLinkCont div:nth-child(3) {
    width: 140px;
}

.footerLinkTitle {
    color: #7F78FF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.footerLinkCont a,
.footerCopy p {
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.footerContSocial {
    display: flex;
    justify-content: space-between;
}

.footerBottomLogo {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.byLogoFooter {
    margin-top: 10px;
    color: #242657;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.footerBottomLogo img:nth-child(1) {
    margin-top: 15px;
}

.footerCopy {
    background-color: #F2F2F2; 
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 651px) {
    .mainFooter {
        background-image: url("../img/Enmascarar group 4.svg");
    }

    .footerLinkCont {
        flex-direction: column;
        margin-bottom: 70px;
    }

    .footerLinkCont div:nth-child(2) {
        margin: 40px 0;
    }

    .footerLinkCont div:nth-child(3) {
        height: 145px;
    }
}

/* Scroll */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #95FAD8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* teamGualy */

@media(max-width: 630px) {
    .st {
        font-size: 36px;
    }
}
@media(max-width: 460px) {
    .st {
        font-size: 28px;
    }
}

.stm {
    margin-top: 30px;
    max-width: 505px;
}

.datInpSize {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #7F78FF;
}

.selectTeam {
    background: transparent;
    background-image: url("../img/dropDownArrow.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border: none;
    border-bottom: 1px solid #7F78FF;
    outline: none;
    padding: 0 20px 8px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: #7F78FF;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    height: 40px;
    width: 48%;
}
@media(max-width: 600px) {
    .selectTeam {
        width: 100%;
    }
}

.quitMar {
    width: 100%;
    margin-bottom: 19px;
}

/* Validations */

.redBorderButtom {
    border-bottom: 1px solid red !important;
}

.hideDisplay {
    display: none !important;
}